<div class="container">
  <ng-container *ngVar="scope$ | async as scope">
    <h2 *ngIf="scope" class="header" id="{{ scope.id }}">
      <span *ngIf="getName(scope).includes('Docker Compose'); else notDocker">{{
        "statistics.header.docker.compose" | translate
      }}</span>
      <ng-template #notDocker>{{
        "statistics.header" | translate : { scope: getName(scope) }
      }}</ng-template>
    </h2>
  </ng-container>

  <ng-container *ngVar="reports$ | async as reports">
    <ng-container>
      <ng-container *ngIf="!reports">
        <ds-themed-loading></ds-themed-loading>
      </ng-container>

      <ng-container *ngIf="reports">
        <ds-statistics-table
          *ngFor="let report of reports"
          [report]="report"
          class="m-2 {{ report.id }}"
        >
        </ds-statistics-table>
        <div *ngIf="!(hasData$ | async)">
          {{ "statistics.page.no-data" | translate }}
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
