@import "../../../../../styles/variables.scss";

.btn.btn-collapse-item {
  background-color: var(--ds-main-color);
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  padding: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
.show-full-metadata {
  a.btn-full-metadata{
    svg{
      margin-bottom: 6px;
    }
    &:hover{
      svg{
        path{
          fill:#fff;
        }
      }
    }
  }
}