
<div class="container-firstpage">
  <div class="container container-firstpage-content">
      
      
      <div class="container-firstpage-logo">
          <img src="../../assets/images/enhira_logo_dspace.png" class="img-fluid" />
      </div>
      <div class="container-form-option">
          <h3 class="welcome">Welcome to</h3>
          <h2 class="library-name">Digital Sansad</h2>
          <div class="option-detail">
              <p class="intro">I am a</p>
              <button (click)="showHomePageRegister()">Register User</button>
          </div>
          <div class="option-detail">
              <p class="intro">I am a</p>
              <button (click)="showHomePageGuess()">Guest User</button>
          </div>
      </div>
  </div>
</div>