<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>Site designed and hosted by <strong>National Informatics Centre.</strong> Contents provided and maintained by
          <strong>Digitalization Unit, Lok Sabha Secretariat</strong></p>
      </div>
      <div class="col-md-6">
        <a routerLink="/contact-us">Contact Us</a>&nbsp;
        <a routerLink="/disclaimer">Disclaimer</a>&nbsp;
        <a routerLink="/feedback">Feedback</a>&nbsp;
        <a routerLink="/terms">Terms & Conditions</a>&nbsp;
        <a routerLink="/hyperlinking-policy">Hyperlinking Policy</a>&nbsp;
        <a routerLink="/accessibility-statement">Accessibility Statement</a>&nbsp;
        <a routerLink="/copyright-policy">Copyright Policy</a>&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        
      </div>
      <div class="col-md-4" style="text-align: center;">
        <p>Site designed and hosted by National Informatics Centre
          Contents provided and maintained by Digitisation Unit, Lok Sabha Secretariat</p>
      </div>
      <div class="col-md-4" style="color: white;">
        <p>Visitor Count:&nbsp;
          <img
            src="https://hitwebcounter.com/counter/counter.php?page=17667221&style=0006&nbdigits=7&type=page&initCount=0"
            title="Counter Widget" alt="Visit counter for websites" border="0" />
        </p>
      </div>
    </div>
  </div>
</footer>

