<footer>
  <div class="container">
    <div class="mx-5">
      <div class="row">
        <div class="col-md-5 offset-md-1 card-text">This site is best viewed at 1024x768 pixel resolution and above</div>
        <div class="col-md-6">
          <div style="float:right;">
            <div class="row">
              <div class="col-md-12">
                <ul class="inline-list card-text">
                  <li><a routerLink="/contact-us">Contact Us</a>&nbsp;&nbsp;&nbsp;<span class="separator">|</span></li>
                  <li><a routerLink="/disclaimer">Disclaimer</a>&nbsp;&nbsp;&nbsp;<span class="separator">|</span></li>
                  <li><a routerLink="/feedback">Feedback</a>&nbsp;&nbsp;&nbsp;<span class="separator">|</span></li>
                  <li><a routerLink="/terms">Terms & Conditions</a>&nbsp;&nbsp;&nbsp;<span class="separator">|</span></li>
                  <li><a routerLink="/hyperlinking-policy">Hyperlinking Policy</a></li>
                </ul>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-10 mt-2">
                <ul class="inline-list card-text">
                  <li><a routerLink="/accessibility-statement">Accessibility Statement</a>&nbsp;&nbsp;&nbsp;<span
                      class="separator">|</span></li>
                  <li><a routerLink="/copyright-policy">Copyright Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
         

        </div>
      </div>


      <div class="row mt-5">
        <div class="col-md-3"><div id="google_translate_element"></div></div>
        <div class="col-md-5 text-center card-text">Site designed and hosted by <strong>National Informatics Centre.</strong>
          Contents provided and maintained by
          <strong>Digitisation Unit, Lok Sabha Secretariat</strong>
        </div>

        <div class="col-md-4 text-right">
          <p class="card-text">Visitor Count:&nbsp;
            <img
              src="https://hitwebcounter.com/counter/counter.php?page=17667221&style=0006&nbdigits=7&type=page&initCount=0"
              title="Counter Widget" alt="Visit counter for websites" border="0" />
          </p>
        </div>
      </div>

    </div>
  </div>
</footer>