<!-- Start of Selection -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Feedback</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 m-5">
        <div class="card text-center">
          <div class="card-header" style="background-color: #008080;">
            <span style="color: white;">Terms & Conditions</span>
          </div>
          <div class="card-body">
            <p>Though all efforts have been made to ensure the accuracy of content on this website, the
                same should not be construed as a statement of law or used for any legal purposes. Lok
                Sabha Secretariat accepts no responsibility in relation to the accuracy, completeness,
                usefulness or otherwise, of the contents. Users are advised to verify/check any
                information, and to obtain appropriate professional advice before acting on the
                information provided in the website.</p>
            <p>
                These terms of use shall be governed by and construed in accordance with the Indian
                Laws. Any dispute arising under these terms and conditions shall be subject to the
                exclusive jurisdiction of the courts of India.
                All the content and information has been placed by the Lok Sabha Secretariat. <a href="mailto:digitizationplb-lss&#64;sansad.nic.in" target="_blank">digitizationplb-lss&#64;sansad.nic.in</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
<!-- End of Selection -->