.dropdown-menu {
  overflow: hidden;
  min-width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  ::ng-deep a.nav-link {
    padding-right: var(--bs-spacer);
    padding-left: var(--bs-spacer);
    white-space: nowrap;
  }
}
:host ::ng-deep {
  .dropdown-menu.menu-browser {
    background: #11519b !important;
    border: 1px solid #11519b !important;
    left: auto !important;
    right: 0 !important;
  }
}

/** Mobile menu styling **/
@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .dropdown-toggle {
    &:after {
      margin-top: calc(var(--bs-spacer) / 2);
    }
  }
  .dropdown-menu {
    border: 0;
  }
}
