<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Copyright Policy</li>
        </ol>
    </nav>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 m-5">
        <div class="card text-center">
          <div class="card-header" style="background-color: #008080;">
            <span style="color: white;">Copyright Policy</span>
          </div>
          <div class="card-body">
            <p>All copyrights are reserved with the Lok Sabha Secretariat. Under Section 2 (k) of the
                Copyright Act (No. 14 1975), the copyright for the reproduction of any material from the
                debates and ancillary publications vests with the Lok Sabha Secretariat. A member
                desirous of reproducing any material from the Lok Sabha Debates or even his own
                speeches is required to seek formal permission from the Speaker giving specific details of
                the matter to be reproduced. The copyright matters are examined by the Editorial Branch.</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>