<ds-metadata-field-wrapper [label]="label | translate">
  <ng-container *ngFor="let mdValue of mdValues; let last = last">
    <ng-container
      *ngTemplateOutlet="
        renderMarkdown ? markdown : simple;
        context: {
          value: mdValue.value,
          classes:
            label === 'person.page.email'
              ? 'dont-break-out preserve-line-breaks email-person'
              : label === 'item.page.uri'
              ? 'dont-break-out preserve-line-breaks link-uri'
              : 'dont-break-out preserve-line-breaks'
        }
      "
    >
    </ng-container>
    <span class="separator" *ngIf="!last" [innerHTML]="separator"></span>
  </ng-container>
</ds-metadata-field-wrapper>

<ng-template #markdown let-value="value" let-classes="classes">
  <span class="{{ classes }}" [innerHTML]="value | dsMarkdown | async"> </span>
</ng-template>

<ng-template #simple let-value="value" let-classes="classes">
  <span
    class="{{ classes }}"
    *ngIf="
      classes !== 'dont-break-out preserve-line-breaks link-uri';
      else notLink
    "
  >
    <span *ngIf="value.length < 1000; else shortField">{{ value }}</span>
    <ng-template #shortField>
      <span
        ><span *ngIf="showMore === false"
          >{{ value.substring(0, 500) + "..."
          }}<button
            class="btn btn-link p-0 expandButton"
            (click)="handleShowMore()"
          >
            <i class="fas fa-angle-down"></i>
            <span class="ml-1">{{
              "item.truncatable-part.show-more" | translate
            }}</span>
          </button></span
        >
        <span *ngIf="showMore === true"
          >{{ value
          }}<button
            class="btn btn-link p-0 expandButton"
            (click)="handleShowMore()"
          >
            <i class="fas fa-angle-up"></i>
            <span class="ml-1">{{
              "item.truncatable-part.show-less" | translate
            }}</span>
          </button></span
        >
      </span>
    </ng-template>
  </span>
  <ng-template #notLink>
    <a class="{{ classes }}" [href]="value">
      {{ value }}
    </a>
  </ng-template>
</ng-template>
