:host {
  span.dont-break-out.email-person {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #207698 !important;
  }
  a.dont-break-out.link-uri {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #207698 !important;
  }
}
