<ul class="navbar-nav" [ngClass]="{ 'mr-auto': (isXsOrSm$ | async) }">
  <li
    *ngIf="
      !(isAuthenticated | async) && !(isXsOrSm$ | async) && (showAuth | async)
    "
    class="nav-item"
    (click)="$event.stopPropagation()"
  >
    <div
      ngbDropdown
      #loginDrop
      display="dynamic"
      placement="bottom-right"
      class="d-inline-block"
      @fadeInOut
    >
      <a
        href="javascript:void(0);"
        class="dropdownLogin px-1"
        [attr.aria-label]="'nav.login' | translate"
        (click)="$event.preventDefault()"
        [attr.data-test]="'login-menu' | dsBrowserOnly"
        ngbDropdownToggle
      >
      <i class="fa-solid fa-user"></i>  {{ "nav.login" | translate }}
      </a>
      <div
        class="loginDropdownMenu"
        [ngClass]="{ 'pl-3 pr-3': (loading | async) }"
        ngbDropdownMenu
        [attr.aria-label]="'nav.login' | translate"
      >
        <ds-log-in [isStandalonePage]="false"></ds-log-in>
      </div>
    </div>
  </li>
  <li
    *ngIf="!(isAuthenticated | async) && (isXsOrSm$ | async)"
    class="nav-item"
  >
    <a routerLink="/login" routerLinkActive="active" class="loginLink px-1">
      {{ "nav.login" | translate }}<span class="sr-only">(current)</span>
    </a>
  </li>
  <li
    *ngIf="
      (isAuthenticated | async) && !(isXsOrSm$ | async) && (showAuth | async)
    "
    class="nav-item"
  >
    <div
      ngbDropdown
      display="dynamic"
      placement="bottom-right"
      class="d-inline-block"
      @fadeInOut
    >
      <a
        href="javascript:void(0);"
        role="button"
        [attr.aria-label]="'nav.logout' | translate"
        (click)="$event.preventDefault()"
        class="px-1 user-infor"
        [attr.data-test]="'user-menu' | dsBrowserOnly"
        ngbDropdownToggle
      >
      <i class="fa-solid fa-user"></i> <span>{{(user | async)?.name}}</span></a> 
      <div
        class="logoutDropdownMenu"
        ngbDropdownMenu
        [attr.aria-label]="'nav.logout' | translate"
      >
        <ds-user-menu></ds-user-menu>
      </div>
    </div>
  </li>

  <li *ngIf="(isAuthenticated | async) && (isXsOrSm$ | async)" class="nav-item" ngbDropdown>
    <a class="user-infor user-infor-mobile" id="dropdownMenuLink" ngbDropdownToggle>
      <i class="fa-solid fa-user"></i> <span>{{ (user | async)?.name }}</span>
    </a>
    
    <div ngbDropdownMenu aria-labelledby="dropdownMenuLink" class="dropdown-menu-user-infor">
      <a class="dropdown-item" [routerLink]="['/profile']">{{ 'nav.profile' | translate }}</a>
      <a class="dropdown-item" [routerLink]="['/mydspace']">{{ 'nav.mydspace' | translate }}</a>
      <ds-log-out></ds-log-out>
    </div>
  </li>
</ul>
