.btn-view{
    border-radius: var(--spacing-4, 4px);
    background: var(--primary-blue-b-300, #428BCA);
    padding: 4px 12px;
    margin-right: 4px;
    color: #fff;
    color: var(--neutral-white, #FFF);
  
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}