:host {
  div.simple-view-link {
    text-align: left;
    a {
      min-width: 25%;
    }
  }
  @include media-breakpoint-down(md) {
    .container {
      width: 100%;
      max-width: none;
    }
  }
  .nav-breadcrumb {
    background-color: var(--ds-breadcrumb-bg);
    margin-top: 25px;
  }

  .breadcrumb {
    border-radius: 0;
    margin-top: calc(-1 * var(--ds-content-spacing));
    padding-bottom: var(--ds-content-spacing / 3);
    padding-top: var(--ds-content-spacing / 3);
    // background-color: var(--ds-breadcrumb-bg);
    background-color: #fff;
  }

  li.breadcrumb-item {
    display: flex;
  }

  .breadcrumb-item-limiter {
    display: inline-block;
    max-width: var(--ds-breadcrumb-max-length);
    > * {
      max-width: 100%;
      display: block;
    }
  }

  li.breadcrumb-item > a {
    color: var(--ds-breadcrumb-link-color) !important;
  }
  li.breadcrumb-item.active {
    color: var(--ds-breadcrumb-link-active-color) !important;
  }

  // .breadcrumb-item + .breadcrumb-item::before {
  //   display: block;
  //   content: quote(">") !important;
  // }
  .left-sidebar {
    h2 {
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      text-transform: uppercase;

      color: #333333;
      border-bottom: 3px solid #e5e5e5;
      padding-bottom: 10px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        a {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 30px;
          color: #207698;
        }
      }
    }
  }
  @media (max-width: 575.98px) {
    // ol.container.breadcrumb {
    //   display: flex;
    //   flex-direction: column;
    // }
  }
}
