<div class="card" [routerLink]="['/collections/', object.id]">
  <a *ngIf="linkType != linkTypes.None" [target]="(linkType == linkTypes.ExternalLink) ? '_blank' : '_self'" rel="noopener noreferrer" [routerLink]="['/collections/', object.id]" class="card-img-top" [attr.title]="'search.results.view-result' | translate">
    <ds-thumbnail [thumbnail]="(object.logo | async)?.payload" [limitWidth]="false" [thumbnailGrid]="true">
    </ds-thumbnail>
  </a>
  <span *ngIf="linkType == linkTypes.None" class="card-img-top">
    <ds-thumbnail [thumbnail]="(object.logo | async)?.payload" [limitWidth]="false" [thumbnailGrid]="true">
    </ds-thumbnail>
  </span>
  <div class="card-body" [ngbTooltip]="tipContent">
    <h4 class="card-title limit-p">{{object.name}}</h4>
    <p *ngIf="object.shortDescription" class="card-text limit-p">{{object.shortDescription}}</p>
    <p class="card-text limit-p">Publication Available: <span>{{ totalItems }}</span></p>
    <!-- <div *ngIf="linkType != linkTypes.None" class="text-center">
      <a [target]="(linkType == linkTypes.ExternalLink) ? '_blank' : '_self'" rel="noopener noreferrer" [routerLink]="['/collections/', object.id]" class="lead btn btn-primary viewButton">{{ 'search.results.view-result' | translate}}</a>
    </div> -->
  </div>
</div>
<ng-template #tipContent>{{object.name}}</ng-template>
