:host {
  h3{
    margin-bottom: 16px;
  }
  .no-header-result{
    ::ng-deep{
      .header-of-result{
        display: none;
      }
    }
    
  }
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-item {
    padding-left: 20px;
  }
}
.nav-breadcrumb {
  background-color: var(--ds-breadcrumb-bg);
  margin-top: 24px;
}

.breadcrumb {
  border-radius: 0;
  margin-top: calc(-1 * var(--ds-content-spacing));
  padding-bottom: var(--ds-content-spacing / 3);
  padding-top: var(--ds-content-spacing / 3);
  // background-color: var(--ds-breadcrumb-bg);
  background-color: #fff;
}

li.breadcrumb-item {
  display: flex;
}

.breadcrumb-item-limiter {
  display: inline-block;
  max-width: var(--ds-breadcrumb-max-length);
  > * {
    max-width: 100%;
    display: block;
  }
}

li.breadcrumb-item > a {
  color: var(--ds-breadcrumb-link-color) !important;
}
li.breadcrumb-item.active {
  color: var(--ds-breadcrumb-link-active-color) !important;
}

// .breadcrumb-item + .breadcrumb-item::before {
//   display: block;
//   content: quote(">") !important;
// }
@media (max-width: 575.98px) {
  .box-navigation-browse-by {
    padding: 15px 5px !important;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
}
