<div class="d-flex flex-row">
  <ds-item-page-title-field [item]="object" class="mr-auto">
  </ds-item-page-title-field>
  <div class="pl-2 space-children-mr">
    <ds-dso-page-version-button
      (newVersionEvent)="onCreateNewVersion()"
      [dso]="object"
      [tooltipMsgCreate]="'item.page.version.create'"
      [tooltipMsgHasDraft]="'item.page.version.hasDraft'"
    ></ds-dso-page-version-button>
    <ds-dso-page-edit-button
      [pageRoute]="itemPageRoute"
      [dso]="object"
      [tooltipMsg]="'project.page.edit'"
    ></ds-dso-page-edit-button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
      <ds-thumbnail
        [thumbnail]="object?.thumbnail | async"
        [defaultImage]="'assets/images/cover_book_enhira.png'"
        [alt]="'thumbnail.project.alt'"
        [placeholder]="'thumbnail.project.placeholder'"
      >
      </ds-thumbnail>
    </ds-metadata-field-wrapper>
    <!--<ds-generic-item-page-field [item]="object"-->
    <!--[fields]="['project.identifier.status']"-->
    <!--[label]="'project.page.status'">-->
    <!--</ds-generic-item-page-field>-->

    <!--<ds-generic-item-page-field [item]="object"-->
    <!--[fields]="['project.identifier.expectedcompletion']"-->
    <!--[label]="'project.page.expectedcompletion'">-->
    <!--</ds-generic-item-page-field>-->
    <ds-download-view-wrapper [object]="object"></ds-download-view-wrapper>
  </div>
  <div class="col-xs-12 col-md-8">
    <div *ngIf="!!showMore === false" class="mb-3 mt-2">
      <button (click)="handleShowMore()" class="btn btn-outline-primary">
        {{ "button.details.showmore" | translate }}
      </button>
    </div>
    <div *ngIf="!!showMore === true">
      <ds-metadata-representation-list
        [parentItem]="object"
        [itemType]="'OrgUnit'"
        [metadataFields]="['project.contributor.other']"
        [label]="'project.page.contributor' | translate"
      >
      </ds-metadata-representation-list>
      <ds-generic-item-page-field
        [item]="object"
        [fields]="['project.identifier.funder']"
        [label]="'project.page.funder'"
      >
      </ds-generic-item-page-field>
      <!-- <ds-generic-item-page-field [item]="object"
        [fields]="['dc.identifier']"
        [label]="'project.page.id'">
      </ds-generic-item-page-field> -->

      <ds-generic-item-page-field
        [item]="object"
        [fields]="['dc.description']"
        [label]="'project.page.description'"
      >
      </ds-generic-item-page-field>
      <ds-generic-item-page-field
        [item]="object"
        [fields]="['dc.subject']"
        [label]="'project.page.keyword'"
      >
      </ds-generic-item-page-field>
      <ds-item-page-file-section-other
        [item]="object"
      ></ds-item-page-file-section-other>
      <div class="mb-3 mt-2">
        <a
          class="btn btn-outline-primary"
          [routerLink]="[itemPageRoute + '/full']"
        >
          {{ "item.page.link.full" | translate }}
        </a>
        <button
          (click)="handleShowMore()"
          class="btn btn-primary ml-3 btn-collapse-item"
        >
          {{ "button.details.collapse" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 mt-4 box-nav">
    <h2 class="title-entity">{{ "author.link.entity" | translate }}</h2>
    <nav ngbNav #nav="ngbNav" class="nav-tabs w-100">
      <ng-container ngbNavItem>
        <a ngbNavLink>{{ "author.tab.entity" | translate }}</a>
        <ng-template ngbNavContent>
          <div class="pt-2 w-100">
            <!-- <ds-related-items
              [parentItem]="object"
              [relationType]="'isPersonOfProject'"
              [label]="'relationships.isPersonOf' | translate"
            >
            </ds-related-items> -->

            <ds-tabbed-related-entities-search
              [item]="object"
              [relationTypes]="[
                {
                  label: 'isProjectOfPerson',
                  filter: 'isProjectOfPerson',
                  configuration: 'person-relationships'
                }
              ]"
            >
            </ds-tabbed-related-entities-search>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>{{ "home.doc.list" | translate }}</a>
        <ng-template ngbNavContent>
          <div class="pt-2">
            <!-- <ds-related-items
              [parentItem]="object"
              [relationType]="'isPublicationOfProject'"
              [label]="'relationships.isPublicationOf' | translate"
            >
            </ds-related-items> -->
            <ds-tabbed-related-entities-search
              [item]="object"
              [relationTypes]="[
                {
                  label: 'isProjectOfPublication',
                  filter: 'isProjectOfPublication',
                  configuration: 'publication-relationships'
                }
              ]"
            >
            </ds-tabbed-related-entities-search>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>{{ "home.ou.list" | translate }}</a>
        <ng-template ngbNavContent>
          <div class="pt-2">
            <!-- <ds-related-items
              [parentItem]="object"
              [relationType]="'isOrgUnitOfProject'"
              [label]="'relationships.isOrgUnitOf' | translate"
            >
            </ds-related-items> -->
            <ds-tabbed-related-entities-search
              [item]="object"
              [relationTypes]="[
                {
                  label: 'isProjectOfOrgUnit',
                  filter: 'isProjectOfOrgUnit',
                  configuration: 'orgunit-relationships'
                }
              ]"
            >
            </ds-tabbed-related-entities-search>
          </div>
        </ng-template>
      </ng-container>
    </nav>

    <div [ngbNavOutlet]="nav" class="mt-2 w-100"></div>
  </div>
</div>
