<div class="item-count-container" style="font-size: 12px;">
  <!-- Global Loader (Only One for All) -->
  <!-- <p *ngIf="isLoading" class="loading"><span class="dots">...</span></p> -->

  <!-- Jab Loading Complete Ho Jaye -->
  <ng-container *ngIf="!isLoading">
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
      <p *ngIf="!errorMessage" [ngStyle]="{'font-size': fontSize}">
        {{ label }} - {{ totalItems }} <span class="semicolon">{{ isLargeFont ? '' : ';&nbsp;' }}</span>
      </p>
  </ng-container>
</div>


