<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hyperlinking Policy</li>
        </ol>
    </nav>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 m-5">
        <div class="card text-center">
          <div class="card-header" style="background-color: #008080;">
            <span style="color: white;"><strong>Hyperlinking Policy</strong></span>
          </div>
          <div class="card-body text-left">
            <p>Throughout this website, you will find links to other websites. These links are provided for the convenience of users. The Lok Sabha Secretariat is not responsible for the content and reliability of the linked websites and does not necessarily endorse the views expressed in them. The mere presence of a link or its listing on this website should not be assumed as an endorsement of any kind. We cannot guarantee that these links will work at all times, and we have no control over the availability of linked pages.</p>
            <h5 class="text-center">Linking to this website from other websites</h5>
            <p>
                Prior permission is required before hyperlinks are directed from any website to this site. Permission must be obtained by sending a request to the Lok Sabha Secretariat, stating the nature of the content on the pages from which the link will be provided, along with the exact wording of the hyperlink, at digitizationplb-lss<img src="assets/images/@.png"/>sansad.nic.in
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>