@import "../../../../../styles/variables.scss";
:host ::ng-deep {
  .btn.btn-collapse-item {
    background-color: var(--ds-main-color);
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #ffffff;
  }
  .box-nav {
    h2.title-entity {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 35px;

      color: #333333;
      margin-bottom: 16px;
    }
    nav {
      gap: 8px;
      .nav-link.nav-item {
        padding: 16px 34px;
        background: #e5e5e5;

        border: 1px solid #cfcfcf;
        border-radius: 6px 6px 0px 0px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        text-align: center;

        color: #333333;
      }
      .nav-link.nav-item.active {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        text-align: center;

        color: #ffffff;
        background: var(--ds-sub-small-color);
        border: 1px solid #cfcfcf;
        border-radius: 6px 6px 0px 0px;
      }
    }
  }
  @media (max-width: 575.98px) {
    a.nav-link.nav-item {
      width: 100%;
    }
  }
}
