<!-- <form class="form-login" (ngSubmit)="submit()" [formGroup]="form" novalidate>
  <label class="sr-only">{{ "login.form.email" | translate }}</label>
  <input
    [attr.aria-label]="'login.form.email' | translate"
    autocomplete="off"
    autofocus
    class="form-control form-control-lg position-relative"
    formControlName="email"
    placeholder="{{ 'login.form.email' | translate }}"
    required
    type="email"
    [attr.data-test]="'email' | dsBrowserOnly"
  />
  <label class="sr-only">{{ "login.form.password" | translate }}</label>
  <input
    [attr.aria-label]="'login.form.password' | translate"
    autocomplete="off"
    class="form-control form-control-lg position-relative mb-3"
    placeholder="{{ 'login.form.password' | translate }}"
    formControlName="password"
    required
    type="password"
    [attr.data-test]="'password' | dsBrowserOnly"
  />
  <div
    *ngIf="(error | async) && hasError"
    class="alert alert-danger"
    role="alert"
    @fadeOut
  >
    {{ error | async | translate }}
  </div>
  <div
    *ngIf="(message | async) && hasMessage"
    class="alert alert-info"
    role="alert"
    @fadeOut
  >
    {{ message | async | translate }}
  </div>
  <button
    class="btn btn-lg btn-login btn-block mt-3"
    type="submit"
    [attr.data-test]="'login-button' | dsBrowserOnly"
    [disabled]="!form.valid"
  >
    <i class="fas fa-sign-in-alt"></i> {{ "login.form.submit" | translate }}
  </button>
</form> -->
<!-- <div class="container-fluid py-3">
  <h1>Angular reCAPTCHA v2</h1>

  <form #form="ngForm">
    <div class="row mt-3">
      <div class="col-sm-12 mb-2">
        <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
        <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
          <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-2">
        <button type="button" class="btn btn-sm btn-primary" (click)="send(form)">Send</button>
      </div>
    </div>
  </form>
</div> -->

<form #form="ngForm">
  <div class="row mt-3">
    <div class="col-sm-12 mb-2">
      <input  [(ngModel)]="email" type="text" name="email" autocomplete="off" required class="form-control form-control-lg position-relative mb-3" [attr.aria-label]="'login.form.email' | translate" placeholder="{{ 'login.form.email' | translate }}"/>
    </div>
    <div class="col-sm-12 mb-2">
     
    <input [(ngModel)]="password" type="password" name="password" required class="form-control form-control-lg position-relative mb-3" placeholder="{{ 'login.form.password' | translate }}" [attr.aria-label]="'login.form.password' | translate" autocomplete="off" role="presentation"/>
    </div>
    <div class="col-sm-12 mb-2">
      <h3 ><span class="badge text-bg-secondary">{{captcha}}</span></h3>
        <label class="sr-only">CAPTCHA</label>
        <input [attr.aria-label]="'captcha'"
               autocomplete="off"
               class="form-control form-control-lg position-relative mb-3"
               placeholder="Enter CAPTCHA"
               id="recaptcha" name="captchaField" #captchaField="ngModel" [(ngModel)]="captchaToken" required
               required
               type="text"
               [attr.data-test]="'recaptcha' | dsBrowserOnly">
      
      <div *ngIf="feedback" class="alert alert-danger mb-3" role="alert">
        {{feedback}}
      </div>
      
      </div>
    <!-- <div class="col-sm-12 mb-2">
      <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
      <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
        <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-sm-12 mb-2">
      <div
        *ngIf="(error | async) && hasError"
        class="alert alert-danger"
        role="alert"
        @fadeOut
      >
        {{ error | async | translate }}
      </div>
      <div
        *ngIf="(message | async) && hasMessage"
        class="alert alert-info"
        role="alert"
        @fadeOut
      >
        {{ message | async | translate }}
  </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 mb-2">
      <button type="button" class="btn btn-lg btn-login btn-block mt-3" (click)="send(form,$event)" [disabled]="!form.valid"><i class="fas fa-sign-in-alt"></i> {{ "login.form.submit" | translate }}</button>
    </div>
  </div>
</form>
