<a
  *ngIf="isVisible | async"
  class="d-flex flex-row facet-link"
  [tabIndex]="-1"
  [routerLink]="[searchLink]"
 
  [queryParams]="addQueryParams"
  queryParamsHandling="merge"
>
  <label class="mb-0">
    <!-- <input type="checkbox" [checked]="false" class="my-1 align-self-stretch" /> -->
    <span class="filter-value">
      <span *ngIf="filterConfig.name !== 'entityType'; else notEntityType" class="value">{{
        "search.filters." + filterConfig.name + "." + filterValue.value
          | translate : { default: filterValue.value }
      }}</span>
      <ng-template #notEntityType>
        {{
          "search.filters." + filterConfig.name + "." + filterValue.value
            | translate
        }}</ng-template
      >
    </span>
  </label>
  <span class="float-right filter-value-count ml-auto">
    <span class="number-count">{{
      filterValue.count
    }}</span>
  </span>
</a>
