:host {

  .item-subject {
    //padding: var(--spacing-8, 8px) var(--spacing-16, 16px);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-4, 4px);
    align-self: stretch;
    color: var(--neutral-black, #222);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
  }   
  .wrap-count{
    float: right;
  }
  .count{
    padding: var(--spacing-4, 4px) var(--spacing-8, 8px);
    gap: var(--spacing-4, 4px);
    border-radius: var(--spacing-8, 8px);
    background: var(--primary-orange-o-300, #DE5431);
    color: var(--neutral-white, #FFF);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
  }
  @media screen and (max-width: 575.98px) {
    .lead {
      font-size: 1rem !important;
    }
  }
}
