<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Accessibility Statement</li>
        </ol>
    </nav>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 m-5">
        <div class="card text-center">
          <div class="card-header" style="background-color: #008080;">
            <span style="color: white;">Accessibility Statement</span>
          </div>
          <div class="card-body">
            <p>We are committed to ensure that this website is accessible to all users irrespective of
                device in use, technology or ability. It has been built, with an aim, to provide maximum
                accessibility and usability to its visitors. As a result, this website can be viewed from a
                variety of devices such as Desktop/ Laptop computers, web-enabled mobile devices, etc.</p>
            <p>We also aim to be standards compliant and follow principles of usability and universal
                design, which should help all visitors of this website.</p>
            <p>
                If you have any problem or suggestion regarding the accessibility of this website, please
                write to us to enable us to respond in a helpful manner. Do let us know the nature of the
                problem along with your contact information to <a href="mailto:digitizationplb-lss&#64;sansad.nic.in" target="_blank">digitizationplb-lss&#64;sansad.nic.in</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>