<div class="container-fluid" style="background-color: #E9ECEF;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 m-5">
      <div class="card text-center">
        <div class="card-header" style="background-color: #008080;">
          <span style="color: white;"><strong>Contact Us</strong></span>
        </div>
        <div class="card-body">
          <h5 class="card-title">For any content-related queries, please contact:</h5>
          <p>Digitization Unit</p>
          <p>Parliament Library Building</p>
          <p>Parliament House Complex</p>
          <p>New Delhi - 110 001</p>
          <p>011-23035481</p>
          <p>011-23034060</p>
        </div>
        <div class="card-footer">
          <p>digitizationplb<img src="assets/images/@.png"/>sansad.nic.in</p>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row"></div>
</div>