<div class="container-fluid" style="background-color: #E9ECEF;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 m-5">
      <div class="card text-center">
        <div class="card-header" style="background-color: #008080;">
          <span style="color: white;"><strong>Contact Us</strong></span>
        </div>
        <div class="card-body">
          <h5 class="card-title">For any content-related queries, please contact:</h5>
          <p class="card-text">Digitization Unit</p>
          <p class="card-text">Parliament Library Building</p>
          <p class="card-text">Parliament House Complex</p>
          <p class="card-text">New Delhi - 110 001</p>
          <a href="tel:01123035481" class="card-text">011-23035481</a><br>
          <a href="tel:01123034060" class="card-text">011-23034060</a><br>
          <a href="mailto:digitizationplb-lss@&#64;sansad.nic.in" target="_blank">digitizationplb-lss&#64;sansad.nic.in</a>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row"></div>
</div>