<div class="d-flex flex-row">
  <ds-item-page-title-field [item]="object" class="mr-auto">
  </ds-item-page-title-field>
  <div class="pl-2 space-children-mr">
    <ds-dso-page-version-button
      (newVersionEvent)="onCreateNewVersion()"
      [dso]="object"
      [tooltipMsgCreate]="'item.page.version.create'"
      [tooltipMsgHasDraft]="'item.page.version.hasDraft'"
    ></ds-dso-page-version-button>
    <ds-dso-page-edit-button
      [pageRoute]="itemPageRoute"
      [dso]="object"
      [tooltipMsg]="'journal.page.edit'"
    ></ds-dso-page-edit-button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
      <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
    </ds-metadata-field-wrapper>
    <ds-download-view-wrapper [object]="object"></ds-download-view-wrapper>
  </div>
  <div class="col-xs-12 col-md-8">
    <ds-generic-item-page-field
      class="item-page-fields"
      [item]="object"
      [fields]="['dc.description']"
      [label]="'journal.page.description'"
    >
    </ds-generic-item-page-field>
    <ds-generic-item-page-field
      [item]="object"
      [fields]="['creativework.editor']"
      [label]="'journal.page.editor'"
    >
    </ds-generic-item-page-field>

    <ds-generic-item-page-field
      class="item-page-fields"
      [item]="object"
      [fields]="['creativeworkseries.issn']"
      [label]="'journal.page.issn'"
    >
    </ds-generic-item-page-field>
    <ds-generic-item-page-field
      [item]="object"
      [fields]="['dc.publisher']"
      [label]="'publication.page.publisher'"
    >
    </ds-generic-item-page-field>
    <div *ngIf="!!showMore === false" class="mb-3 mt-2">
      <button (click)="handleShowMore()" class="btn btn-outline-primary">
        {{ "button.details.showmore" | translate }}
      </button>
    </div>
    <div *ngIf="!!showMore === true">
      <ds-item-page-file-section-journal
        [item]="object"
      ></ds-item-page-file-section-journal>
      <div class="mb-3 mt-2">
        <a
          class="btn btn-outline-primary"
          [routerLink]="[itemPageRoute + '/full']"
        >
          {{ "item.page.link.full" | translate }}
        </a>
        <button
          (click)="handleShowMore()"
          class="btn btn-primary ml-3 btn-collapse-item"
        >
          {{ "button.details.collapse" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 mt-4 box-nav">
    <h2 class="title-entity">{{ "author.link.entity" | translate }}</h2>
    <nav ngbNav #nav="ngbNav" class="nav-tabs w-100">
      <ng-container ngbNavItem>
        <a ngbNavLink>{{ "home.doc.list" | translate }}</a>
        <ng-template ngbNavContent>
          <div class="mt-5 w-100">
            <ds-tabbed-related-entities-search
              [item]="object"
              [relationTypes]="[
                {
                  label: 'isJournalOfPublication',
                  filter: 'isJournalOfPublication',
                  configuration: 'default-relationships'
                }
              ]"
            >
            </ds-tabbed-related-entities-search>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>{{ "relationships.isVolumeOf" | translate }}</a>
        <ng-template ngbNavContent>
          <div class="pt-2 w-100">
            <ds-related-items
              [parentItem]="object"
              [relationType]="'isVolumeOfJournal'"
              [label]="'relationships.isVolumeOf' | translate"
            >
            </ds-related-items>
          </div>
        </ng-template>
      </ng-container>
    </nav>

    <div [ngbNavOutlet]="nav" class="mt-2 w-100"></div>
  </div>
</div>
