<ng-container *ngVar="subTopicsRDObs | async as subTopicsRD">
  <div
    *ngIf="subTopicsRD?.hasSucceeded && subTopicsRD?.payload.totalElements > 0"
    @fadeIn
  >
    <h2>{{ "community.sub-community-list.head" | translate }}</h2>
    <ds-viewable-collection
      [config]="config"
      [sortConfig]="sortConfig"
      [objects]="subTopicsRD"
      [hideGear]="false"
    >
    </ds-viewable-collection>
  </div>
  <ds-error
    *ngIf="subTopicsRD?.hasFailed"
    message="{{ 'error.sub-communities' | translate }}"
  ></ds-error>
  <ds-themed-loading
    *ngIf="subTopicsRD?.isLoading"
    message="{{ 'loading.sub-communities' | translate }}"
  ></ds-themed-loading>
</ng-container>
