<ds-pagination
  [paginationOptions]="config"
  [pageInfoState]="objects?.payload"
  [collectionSize]="objects?.payload?.totalElements"
  [objects]="objects"
  [sortOptions]="sortConfig"
  [hideGear]="hideGear"
  [hidePagerWhenSinglePage]="hidePagerWhenSinglePage"
  [hidePaginationDetail]="hidePaginationDetail"
  [showPaginator]="showPaginator"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
  (sortDirectionChange)="onSortDirectionChange($event)"
  (sortFieldChange)="onSortFieldChange($event)"
  (paginationChange)="onPaginationChange($event)"
  [isSearchPageOut]="isSearchPageOut"
  [isBrowserByPageOut]="isBrowserByPageOut"
  [isHomePageOut]="isHomePageOut"
  (prev)="goPrev()"
  (next)="goNext()"
>

<div *ngIf="objects?.hasSucceeded">
  <div class="row mx-0 header-of-result" id="results-header">
    <div class="col-2 date-col">Date</div>
    <div class="col-7 title-col">Title</div>
    <div class="col-2 type-col">Type</div>
    <div class="col-1 view-col">View</div>
  </div>
  <div class="data-row row" 
  *ngFor="let object of objects?.payload?.page;
  let i = index;
  let last = last"
  [ngClass]="{'has-stripped': i%2 != 0}">
  <ds-selectable-list-item-control
        *ngIf="selectable"
        [index]="i"
        [object]="object"
        [selectionConfig]="selectionConfig"
        (deselectObject)="deselectObject.emit($event)"
        (selectObject)="selectObject.emit($event)"
      ></ds-selectable-list-item-control>
      <ds-importable-list-item-control
        *ngIf="importable"
        [object]="object"
        [importConfig]="importConfig"
        (importObject)="importObject.emit($event)"
      ></ds-importable-list-item-control>
      <ds-listable-object-component-loader
        [object]="object"
        [viewMode]="viewMode"
        [index]="i"
        [context]="context"
        [linkType]="linkType"
        [listID]="selectionConfig?.listId"
        (contentChange)="contentChange.emit($event)"
        [isHomePage]="isHomePageOut"
      ></ds-listable-object-component-loader>
  </div>
</div>
  <!-- <ul
    *ngIf="objects?.hasSucceeded"
    class="list-unstyled communities-home row mt-4"
    [ngClass]="{ 'ml-4': selectable, 'justify-content-center': isHomePage }"
  >
    <li
      *ngFor="
        let object of objects?.payload?.page;
        let i = index;
        let last = last
      "
      [ngClass]="
        isHomePage === true
          ? 'd-flex col-md-4 col-12 mb-4 item-community'
          : 'd-flex col-md-12 col-12 mb-2  item-community'
      "
      [class.border-bottom]="hasBorder && !last"
      [attr.data-test]="'list-object' | dsBrowserOnly"
    >
      <ds-selectable-list-item-control
        *ngIf="selectable"
        [index]="i"
        [object]="object"
        [selectionConfig]="selectionConfig"
        (deselectObject)="deselectObject.emit($event)"
        (selectObject)="selectObject.emit($event)"
      ></ds-selectable-list-item-control>
      <ds-importable-list-item-control
        *ngIf="importable"
        [object]="object"
        [importConfig]="importConfig"
        (importObject)="importObject.emit($event)"
      ></ds-importable-list-item-control>
      <ds-listable-object-component-loader
        [object]="object"
        [viewMode]="viewMode"
        [index]="i"
        [context]="context"
        [linkType]="linkType"
        [listID]="selectionConfig?.listId"
        (contentChange)="contentChange.emit($event)"
        [isHomePage]="isHomePageOut"
      ></ds-listable-object-component-loader>
    </li>
  </ul> -->
</ds-pagination>
