.header-row{
  padding: var(--spacing-8, 8px) 0px;
  border-radius: var(--spacing-4, 4px);
  background: var(--neutral-light-grey, #DDD);  
  margin-left: 0px !important;
  margin-right: 0px !important;
  .title-text{
    padding: var(--spacing-8, 8px) var(--spacing-16, 16px);
    color: var(--neutral-black, #222);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.15px;
  }
}
.col-data{
  color: var(--neutral-black, #222);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  gap: 8px;
  word-break: break-all;
}
.noti{
  display: flex;
  padding: var(--spacing-16, 16px);
  justify-content: space-between;
  align-items: center;
  background: var(--primary-blue-b-50, #ECF3FA);
  .noti-title{
    color: var(--primary-blue-b-200, #629FD3);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
}