<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Disclaimer</li>
        </ol>
    </nav>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 m-5">
        <div class="card text-center">
          <div class="card-header" style="background-color: #008080;">
            <span style="color: white;"><strong>Disclaimer</strong></span>
          </div>
          <div class="card-body text-left">
            <p>The information on website is for reference purpose only and do not claim to be
                a legal document. Though all efforts have been made to ensure the accuracy of
                the content, the same should not be construed as a statement of law or used for
                any legal purposes. Users are advised to verify/ check any information with the
                relevant published documents.<br>
                For queries relating to any error/omission in the digitised data, please contact at digitizationplb-lss<img src="assets/images/@.png"/>sansad.nic.in</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>