<a
  *ngIf="linkType != linkTypes.None"
  [target]="linkType == linkTypes.ExternalLink ? '_blank' : '_self'"
  rel="noopener noreferrer"
  [routerLink]="['/collections/' + object.id]"
  class="lead link-collection"
>
  {{ object.name }} <span class="badge badge-pill badge-secondary align-self-center archived-items-lead ng-star-inserted">{{ totalItems }}</span>
</a>



<!-- <a
  *ngIf="linkType != linkTypes.None"
  [target]="linkType == linkTypes.ExternalLink ? '_blank' : '_self'"
  rel="noopener noreferrer"
  (click)="openCollectionBySearchScope(object.id)"
  class="lead link-collection"
>
  {{ object.name }}
</a> -->



<span *ngIf="linkType == linkTypes.None" class="lead">
  {{ object.name }}
</span>
<div *ngIf="object.shortDescription" class="text-muted abstract-text">
  {{ object.shortDescription}}
</div>
