<a
  *ngIf="linkType != linkTypes.None"
  [target]="linkType == linkTypes.ExternalLink ? '_blank' : '_self'"
  rel="noopener noreferrer"
  [routerLink]="['/collections/' + object.id]"
  class="lead link-collection"
>
  {{ object.name }} 
  <span class="badge badge-pill badge-secondary align-self-center archived-items-lead">
    <ng-container *ngIf="totalItems !== undefined && totalItems !== null && totalItems !== 0; else loading">
      {{ totalItems }}
    </ng-container>
  </span>
</a>

<!-- Animated Dots Inside Badge -->
<ng-template #loading>
  <span class="dots-loading"></span>
</ng-template>
