:host {
  a.link-collection {
    color: var(--neutral-black, #222);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.25px;
    display: flex; /* Flexbox enable karein */
    align-items: center; /* Vertical alignment ke liye */
  }

  .archived-items-lead {
    margin-left: auto; /* Badge ko right shift karne ke liye */
  }

  .text-muted.abstract-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.dots-loading::after {
  content: " .";
  animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
  0% { content: " ."; }
  33% { content: " .."; }
  66% { content: " ..."; }
  100% { content: " ."; }
}
