.limit-width {
  max-width: var(--ds-thumbnail-max-width);
  height: 163px !important;
}
.thumbnail{
  position: relative;
  .thumbnail-content.thumbnail-loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50px;
    width: 100px;
  }
}
.thumbnail.thumbnail-grid{
  padding-top: 32px;
}
.outer {
  // .outer/.inner generated ~ https://ratiobuddy.com/
  position: relative;
  overflow: hidden;
  &:before {
    display: block;
    content: "";
    width: 100%;
    // padding-top: (297 / 210) * 100%; // A4 ratio
    padding-top: 165px;
  }
  > .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
    
    &:hover{
      transform: scale(1.1);
    }

    > .thumbnail-placeholder {
      background: var(--ds-thumbnail-placeholder-background);
      border: var(--ds-thumbnail-placeholder-border);
      color: var(--ds-thumbnail-placeholder-color);
      font-weight: bold;
      font-size: 14px;
    }
    > .centered {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
.fit-outer {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.ratio-16-9 {
  padding-top: 100%;
}


.fit-abs {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
}

.image-fit-cover {
  // -o-object-fit: cover;
  // object-fit: cover;
}
@media screen and (max-width: 1199.98px) {
  .limit-width {
    max-width: 65px;
    min-height: 100%;
  }
  img {
    // width: 100%;
    // object-fit: cover;
    // width: auto;
    // height: 84px;
    // border: 1px solid #ccc;
  }
  .outer {
    position: relative;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (297 / 210) * 100%; // A4 ratio
    }
    > .inner {
      > .thumbnail-placeholder {
        background: var(--ds-thumbnail-placeholder-background);
        border: var(--ds-thumbnail-placeholder-border);
        color: var(--ds-thumbnail-placeholder-color);
        font-weight: bold;
        font-size: 10px;
      }
    }
  }
}
@media (max-width: 991.98px) {
  img {
    // object-fit: cover;
    // border: 1px solid #ccc;
    // width: 122px;
    // height: 163px;
  }
  .limit-width {
    min-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .outer {
    > .inner {
      > .thumbnail-placeholder {
        background: var(--ds-thumbnail-placeholder-background);
        border: var(--ds-thumbnail-placeholder-border);
        color: var(--ds-thumbnail-placeholder-color);
        font-weight: bold;
        font-size: 10px;
        height: 163px;
      }
    }
  }
}
@media (max-width: 575.98px) {
  .limit-width {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .thumbnail-content.outer {
    max-width: 100%;
    object-fit: cover;
    max-height: 170px;
    height: auto;
    width: 120px;
    border: 0;
  }
  .fit-outer.thumbnail-full-file{
    padding-top: 0;
    height: 100%;
    .image-fit-cover.fit-abs{
      position: unset;
    }
  }
}
