<div class="row result-search-list" [routerLink]="['/collections/', object.id]">
  <div class="col-2 thumb">
    <ds-thumbnail [thumbnail]="(object.logo | async)?.payload" [limitWidth]="false">
    </ds-thumbnail>
  </div>
  <div class="col-10">
    <div class="content-wrapper">
      <ds-type-badge *ngIf="showLabel" [object]="object" [viewMode]="'table'"></ds-type-badge>
      <span class="result-title">
        {{ object.name }}&nbsp; 
        <span class="badge badge-pill badge-secondary align-self-center archived-items-lead">
          <ng-container *ngIf="totalItems !== undefined && totalItems !== null && totalItems !== 0; else loading">
            {{ totalItems }}
          </ng-container>
        </span>
      </span>
      <p *ngIf="object.firstMetadataValue('dc.description')" class="result-desc">
        {{
          object.firstMetadataValue('dc.description')
        }}
      </p>
    </div>
  </div>
</div>

<!-- Animated Dots Inside Badge -->
<ng-template #loading>
  <span class="dots-loading"></span>
</ng-template>
