.setting-option {
    border: 1px solid var(--bs-light);
}
.discover-title{
    color: var(--neutral-black, #222);
  
  
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 16px;
    margin-bottom: 0;
  }
